[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "unhcrdown"]
	path = unhcrdown
	url = https://github.com/vidonne/unhcrdown
[submodule "unhcrthemes"]
	path = unhcrthemes
	url = https://github.com/vidonne/unhcrthemes
